#JumboNameMove {
  float: right;
  font-size: 50px;
  padding-top: 75px;
  font-weight: bolder;
}

#TitleFormat {
  text-align: center;
  font-weight: bolder;
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
  margin: auto;
}

.panel-AboutMeTitle {
  color: green;
}

.panel-BackgroundTitle {
  color: green;
}

.panel-HobbySkillsTitle {
  color: green;
}

CodingProjectImage {
  text-align: center;
  width: 70%;
  margin: auto;
}
