#JumboNameMove {
  float: right;
  font-size: 50px;
  padding-top: 40px;
  font-weight: bolder;
  font-family: fantasy;
  text-shadow: 2px 4px 6px green;
}

#JumboImage {
  border-radius: 50%;
}

#TitleFormatLeft {
  text-align: left;
  font-weight: bolder;
  padding-top: 175px;
  font-size: 30px;
  text-align: center;
  margin: auto;
  font-family: fantasy;
  text-shadow: 2px 4px 6px green;
}

#TitleFormatRight {
  text-align: right;
  font-weight: bolder;
  padding-top: 175px;
  font-size: 30px;
  text-align: center;
  margin: auto;
  font-family: fantasy;
  text-shadow: 2px 4px 6px green;
}

#QuoteMove {
  color: green;
  padding: 30px;
  text-align: center;
  font-family: fantasy;
}

.panel-title {
  color: green;
  font-size: 25px;
  font-family: fantasy;
  text-shadow: 1px 2px 3px yellow;
}

.panel-body {
  text-align: justify;
  font-family: fantasy;
}

.CodingProjectImage {
  width: 250;
  height: 100%;
  vertical-align: middle;
  display: block;
}

.bg-success {
  text-align: center;
}
